{% extends  'catalog/base.html' %}
{% load view_path %}
{% block content%}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative m-auto">
    <div class="col p-4 d-flex flex-column position-static m-auto">
        <h3 class="mb-1">{{ object_list.caption }}</h3>
        <div class="mb-3">( {{ object_list.category.caption }} )</div>
        <p class="card-text mb-auto">{{ object_list.description }}</p>
        <h3 class="mb-0">цена: {{ object_list.price }} р.</h3>
    </div>
    <div class="col-auto d-none d-lg-block">
        <img class="card-img-top" src="{{ object_list.view| view_path }}">
    </div>
</div>

{% endblock %}